<p>
  <b>Name:</b><br>
  <%= @user.name %>
</p>

<p>
  <b>Lastname:</b><br>
  <%= @user.lastname %>
</p>

<p>
  <div style="color:#FF0000"><b>Address:</b></div>
  <%= @user.address %>
</p>


<%= link_to 'Back', users_path %>